{% extends "ProcesoBundle:All:layout.html.twig" %}

{% block body %}

<div class="container" class="container" ng-app="addProcessModule" ng-controller="addProcessController">

  <div class="content">

    <div class="content-container">

      <div class="content-header">
        <h2 class="content-header-title">Agregar nuevo proceso</h2>
      </div> <!-- /.content-header -->
      <div class="row">
        <div class="col-xs-6"> 
          <label>Nombre del proceso:</label>
          <input type="text" class="form-control" ng-model="procesoNuevo.nombre">
          <br>
        </div>
      </div>
<!--       <div class="container" align="center"> -->
        <div class="row">
          <!-- <div class="col-xs-2"></div>   -->
          <div class="col-xs-12">
             <div ng-repeat-n="procesoNuevo.actividades.length" >
                <div class="portlet">
                    <div class="portlet-header"><h3>Actividad {[{$index+1}]}</h3></div>
                    <div class="portlet-content">
                      <div class="row">
                              <div class="col-xs-6">
                                 <label>Nombre de la actividad:</label>
                                 <input type="text" class="form-control" ng-model="procesoNuevo.actividades[$index].nombreAct">
                                 <br>
                                 <label>Responsable:</label>
                                  <select class="form-control" ng-model="procesoNuevo.actividades[$index].responsableAct">
                                      <option>Dir. Asuntos profesorales</option>
                                      <option>Consejo de Departamento de Computacion</option>
                                      <option>Consejo de Departamento de Matematicas</option>
                                      <option>Consejo de Facultad</option>
                                  </select>
                              </div>
                              <div class="col-xs-6">
                                 <label>Descripcion:</label>
                                 <textarea class="form-control" style="height: 113px;" ng-model="procesoNuevo.actividades[$index].descripcionAct"></textarea>
                              </div> 
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-xs-6" align="center">
                            
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div ng-repeat-n="procesoNuevo.actividades[$index].tareas.length" ng-init="index2=0">
                        <div class="col-xs-6">
                          <div class="portlet" style="margin-left: 3%;margin-right: 3%;">
                            <div class="portlet-header">Tarea {[{$index+1}]}</div>
                            <div class="portlet-content">
                              <div class="col-xs-12">
                                    <label>Tipo de tarea:</label>
                                    <select class="form-control" {#ng-model="procesoNuevo.actividades[$index].tareas[index2].Tipo"#} >

                                    <option ng-repeat="value in response" value="{[{value.nombre}]}">{[{value.nombre}]}</option>
                                    </select>
                                    <br>
                                    <label>Descripcion:</label>
                                    <textarea class="form-control" ng-model="procesoNuevo.actividades[$index].tareas[index2].descripcion"></textarea>
                              </div>   
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div align="center">
                      <button type="button" class="btn btn-secondary" ng-click="addTarea(); index2=index2+1">Agregar Tarea</button>
                    </div>
                    <br>
                </div>
              <br>
              <hr>
              </div>
              <button type="button" class="btn btn-secondary" ng-click="add();">Agregar Actividad</button>
              <button type="button" class="btn btn-secondary" ng-click="impress();">Imprimir</button>
          </div>
          <!-- <div class="col-xs-3"></div> -->
        </div>
      </div>
   <!--  </div> --> <!-- /.content-container -->
      
  </div> <!-- /.content -->
</div> <!-- /.container -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
          var response = "{{ task }}";
          var div = document.createElement('div');
          div.innerHTML = response;
          response = div.firstChild.nodeValue;
          response = JSON.parse(response);
          console.log("response",response);
    </script>
   <script src="{{ asset('bundles/proceso/js/angular/addProcess/addProcessModule.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular/addProcess/addProcessController.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular-repeat-n.js') }}"></script>

{% endblock %}