{% extends "ProcesoBundle:All:Solicitante/layout.html.twig" %}

{% block body %}

<div class="container" ng-app="listaSolicitudesModule" ng-controller="listaSolicitudesController" ng-cloak>

  <div class="content">
    <div class="content-container" ng-if="!exito">

      <div class="content-header">
        <h2 class="content-header-title"><strong>Solicitud</strong></h2> 
      </div> <!-- /.content-header -->
      <div class="col-md-6 col-md-offset-3">
          <select class="form-control" ng-model="solicitud.idSolicitud">
          <option value="">Seleccione</option>
          <option ng-repeat="value in response.procesos" value="{[{value.id}]}">{[{value.nombre}]}</option>
        </select>
        <br>
        <div align="center">
          <button type="button" class="btn btn-secondary" ng-click="procesarSolicitud();">
          Enviar
          </button> 
        </div>
      </div>
    </div>
    <div class="content-container" ng-if="actividad == false">

    Solicitud enviada
    </div>
</div>

{#         <div>Username
          <input type="text" ng-model="username"><br/><br/>
          watching model:
          <div class="button" ngf-select ng-model="file" ngf-multiple="false">Select File</div>
          
          Upload Log:
          <pre>{[{log}]}</pre> #}
      
  </div> <!-- /.content -->
</div> <!-- /.container -->
{#{{dump(task)}}#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
          var response = "{{ data }}";
          var div = document.createElement('div');
          div.innerHTML = response;
          response = div.firstChild.nodeValue;
          response = JSON.parse(response);
          console.log("response",response);
     </script>
    
    <script src="{{ asset('bundles/proceso/js/ng-file-upload.min.js') }}"></script>
    <script src="{{ asset('bundles/proceso/js/ng-file-upload-shim.min.js') }}"></script>
   <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
   <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular/Solicitante/listaProcesos/listaSolicitudesModule.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular/Solicitante/listaProcesos/listaSolicitudesController.js') }}"></script>

{% endblock %}