{% extends "ProcesoBundle:All:Especialista/layout.html.twig" %}

{% block body %}

<div class="container" ng-app="listaSolicitudesModule" ng-controller="listaSolicitudesController">

  <div class="content">

    <div class="content-container">

      <div class="content-header">
        <h2 class="content-header-title"><strong>Solicitud</strong></h2>
        
      </div> <!-- /.content-header -->
      <div class="col-md-6 col-md-offset-3">
 		<select class="form-control" ng-model="solicitud.idSolicitud">
 			<option value="">Seleccione</option>
 			<option ng-repeat="value in response.procesos" value="{[{value.id}]}">{[{value.nombre}]}</option>
 		</select>
      </div>
    </div> <!-- /.content-container -->
    <br>
	<div align="center">
	    <button type="button" class="btn btn-secondary" ng-click="procesarSolicitud()">Solicitar</button>
	</div>
      
  </div> <!-- /.content -->
</div> <!-- /.container -->
{#{{dump(task)}}#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
          var response = "{{ data }}";
          var div = document.createElement('div');
          div.innerHTML = response;
          response = div.firstChild.nodeValue;
          response = JSON.parse(response);
          console.log("response",response);
     </script>
   <script src="{{ asset('bundles/proceso/js/angular/Solicitante/listaProcesos/listaSolicitudesModule.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular/Solicitante/listaProcesos/listaSolicitudesController.js') }}"></script>
   <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
   <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% endblock %}