{% extends "ProcesoBundle:All:Responsable/layout.html.twig" %}

{% block body %}

<div class="container" ng-app="listaSolicitudesModule" ng-controller="listaSolicitudesController">

  <div class="content">

    <div class="content-container">

      <div class="content-header">
        <h2 class="content-header-title"><strong>Alertas</strong></h2>
        
      </div> <!-- /.content-header -->
      <div class="col-md-6 col-md-offset-3">

      </div>
    </div> <!-- /.content-container -->
    <br>

      
  </div> <!-- /.content -->
</div> <!-- /.container -->
{#{{dump(task)}}#}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

   <script src="{{ asset('bundles/proceso/js/angular/Solicitante/listaProcesos/listaSolicitudesModule.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular/Solicitante/listaProcesos/listaSolicitudesController.js') }}"></script>
   <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
   <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% endblock %}