<!DOCTYPE html>
<html>
<head>
  <title>TatiSoft</title>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="{{ asset('bundles/proceso/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/proceso/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/proceso/js/libs/css/ui-lightness/jquery-ui-1.9.2.custom.min.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/proceso/css/bootstrap.min.css') }}" rel="stylesheet">
  <!-- App CSS -->
  <link href="{{ asset('bundles/proceso/css/target-admin.css') }}" rel="stylesheet">
  <link href="{{ asset('bundles/proceso/css/custom.css') }}" rel="stylesheet">
  <!-- <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700"> -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  </head>
  <body>
      {% set notificaciones = app.session.get("notificationesAlertas") %}
      {% set notificacionesNormales = app.session.get("notificationesNormales") %}
      {% set nombre = app.session.get("userNombre") %}

      <div class="navbar">

    <div class="container">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-cogs"></i>
        </button>

        <a class="navbar-brand navbar-brand-image" href="index-2.html">
          <img src="{{ asset('bundles/proceso/img/logo3.png') }}" alt="Site Logo">
        </a>

      </div> <!-- /.navbar-header -->

      <div class="navbar-collapse collapse">

        <ul class="nav navbar-nav noticebar navbar-left">

          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            
              {% if notificacionesNormales is defined %}
             
                {% if notificacionesNormales|length > 0 %}
                  <span 
                  
                         class="badge">
                         {{notificaciones|length}}
                  </span>
                  <i class="fa fa-bell" style="color:#FFF"></i>
                {% else %}
                  <i class="fa fa-bell"></i>
                {% endif %}
              {% endif %}
              <span class="navbar-visible-collapsed">&nbsp;Alerts&nbsp;</span>
            </a>

            <ul class="dropdown-menu noticebar-menu" role="menu">
              <li class="nav-header">
                <div class="pull-left">
                Notificaciones
                </div>

              </li>
              {% if notificacionesNormales is empty %}
                <li class="noticebar-empty">                  
                  <h4 class="noticebar-empty-title">No alerts here.</h4>
                  <p class="noticebar-empty-text">Check out what other makers are doing on Explore!</p>                
                </li>
              {% else %}
                {% for notificacion in notificacionesNormales %}
                <li>
                  <a href="{{path('_tatiSoft_resp_getTask',{"id": notificacion.idActividad})}}" class="noticebar-item">
                    <span class="noticebar-item-image">
                      <i class="fa fa-calendar-o" style="color:rgba(87, 172, 214, 0.99)"></i>
                    </span>
                    <span class="noticebar-item-body">
                      <strong class="noticebar-item-title">¡Hola!</strong>
                      <span class="noticebar-item-text">{{notificacion.mensaje}}</span>
                    </span>
                  </a>
                </li>
                {% endfor %}
              {% endif %}
              <li class="noticebar-menu-view-all">
                <a href="page-notifications.html">Ver historial de Notificaciones</a>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            
              {% if notificaciones is defined %}
             
                {% if notificaciones|length > 0 %}
                  <span 
                  style="color: #FFFFFF;
                         border-color: #DAD700;
                         background: transparent;" 
                         class="badge">
                         {{notificaciones|length}}
                  </span>
                  <i class="fa fa-exclamation-triangle" style="color:#DAD700;"></i>
                {% else %}
                  <i class="fa fa-exclamation-triangle"></i>
                {% endif %}
              {% endif %}
              <span class="navbar-visible-collapsed">&nbsp;Alerts&nbsp;</span>
            </a>

            <ul class="dropdown-menu noticebar-menu" role="menu">
              <li class="nav-header">
                <div class="pull-left">
                Alertas
                </div>

              </li>
              {% if notificaciones is empty %}
                <li class="noticebar-empty">                  
                  <h4 class="noticebar-empty-title">No alerts here.</h4>
                  <p class="noticebar-empty-text">Check out what other makers are doing on Explore!</p>                
                </li>
              {% else %}
                {% for notificacion in notificaciones %}
                <li>
                  <a href="{{path('_tatiSoft_resp_getTask',{"id": notificacion.idActividad})}}" class="noticebar-item">
                    <span class="noticebar-item-image">
                      <i class="fa fa-exclamation-triangle" style="color:#DAD700"></i>
                    </span>
                    <span class="noticebar-item-body">
                      <strong class="noticebar-item-title">¡Hola!</strong>
                      <span class="noticebar-item-text">{{notificacion.mensaje}}</span>
                    </span>
                  </a>
                </li>
                {% endfor %}
              {% endif %}
              <li class="noticebar-menu-view-all">
                <a href="page-notifications.html">Ver historial de alertas</a>
              </li>
            </ul>
          </li>

        </ul>

        <ul class="nav navbar-nav navbar-right">   

          <li>
            <a href=""><strong>Bienvenido {{nombre}}</strong></a>
          </li>    
            
          <li class="dropdown navbar-profile">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
              <img src="{{ asset('bundles/proceso/img/avatars/avatar.png') }}" class="navbar-profile-avatar" alt="">
              <span class="navbar-profile-label">rod@rod.me &nbsp;</span>
              <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu" role="menu">

              <li>
                <a href="page-profile.html">
                  <i class="fa fa-user"></i> 
                  &nbsp;&nbsp;Mi Perfil
                </a>
              </li>

              <li>
                <a href="page-settings.html">
                  <i class="fa fa-cogs"></i> 
                  &nbsp;&nbsp;Configuracion
                </a>
              </li>

              <li class="divider"></li>

              <li>
                <a href="{{ path("tatiSoft_logout") }}">
                  <i class="fa fa-sign-out"></i> 
                  &nbsp;&nbsp;Salir
                  </a>
              </li>

            </ul>

          </li>

        </ul>

      </div> <!--/.navbar-collapse -->

    </div> <!-- /.container -->

  </div> <!-- /.navbar -->

  <div class="mainbar">

  <div class="container">

    <button type="button" class="btn mainbar-toggle" data-toggle="collapse" data-target=".mainbar-collapse">
      <i class="fa fa-bars"></i>
    </button>

    <div class="mainbar-collapse collapse">

      <ul class="nav navbar-nav mainbar-nav">

        <li class="">
          <a href="{{path('_tatiSoft_resp_list')}}">
            <i class="fa fa-calendar-o"></i>
            Actividades Pendientes
          </a>
        </li>
        <li class="">
          <a href="{{path('_tatiSoft_resp_end_acitivity')}}">
            <i class="fa fa-check-circle-o"></i>
            Actividades terminas
          </a>
        </li>
        <li class="">
          <a href="{{path('_tatiSoft_resp_file')}}">
            <i class="fa fa-folder-open"></i>
            Mis Archivos subidos y relacionados
          </a>
        </li>
        <li class="">
          <a href="{{path('_tatiSoft_resp_alert')}}">
            <i class="fa fa-bell"></i>
            Alertas
          </a>
        </li>
      </ul>

    </div> <!-- /.navbar-collapse -->   

  </div> <!-- /.container --> 

  </div> <!-- /.mainbar -->
      {% block body %}
      {% endblock %}
      {% block footer%}
      {% include "ProcesoBundle:All:Especialista/footer.html.twig" %}
      {% endblock footer%}
    <!-- Le javascript
    
   <!-- App JS -->
  {% block javascripts %}
    <script src="{{ asset('bundles/proceso/js/angular.js') }}"></script>
    <script src="{{ asset('bundles/proceso/js/angular-sanitize.js') }}"></script>
    <script src="{{ asset('bundles/proceso/js/angularjs-autocomplete.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/proceso/js/angular-animate.js') }}"></script>
    <script src="{{ asset('bundles/proceso/js/libs/jquery-1.10.1.min.js') }}"></script>
    <script src="{{ asset('bundles/proceso/js/libs/jquery-ui-1.9.2.custom.min.js') }}"></script>
    <script src="{{ asset('bundles/proceso/js/libs/bootstrap.min.js') }}"></script> 
    <script src="{{ asset('bundles/proceso/js/target-admin.js') }}"></script>
  {% endblock %}
  <script>
  </script>
  </body>
</html>
