{% extends "ProcesoBundle:All:Especialista/layout.html.twig" %}

{% block body %}

<div class="container" class="container" ng-app="editProcessModule" ng-controller="editProcessController">

  <div class="content">

    <div class="content-container">

      <div class="content-header">
        <h2 class="content-header-title">Editar proceso</h2>
      </div> <!-- /.content-header -->
      <div class="row">
        <div class="col-xs-6"> 
          <label>Nombre del proceso:</label>
          <input type="text" class="form-control" ng-model="procesoNuevo.nombre">
          <br>
        </div>
      </div>
<!--       <div class="container" align="center"> -->
        <div class="row">
          <!-- <div class="col-xs-2"></div>   -->
          <div class="col-xs-12">
             <div ng-repeat=" (key1, value) in procesoNuevo.actividades" >
                <div class="portlet">
                    <div class="portlet-header">
                      <h3 style="color: #428BCA;font-weight: bold;">Actividad {[{$index+1}]}</h3>
                      <i class="fa fa-times" style="  margin-left: 89%;position: absolute;  cursor: pointer;" ng-click="delete(key1)"></i>
                    </div>
                    <div class="portlet-content">
                      <div class="row">
                              <div class="col-xs-4">
                                 <label>Nombre de la actividad:</label>
                                 <input type="text" class="form-control" ng-model="procesoNuevo.actividades[$index].nombre">
                                 <br>
                                 <label>Responsable:</label>
                                  <select class="form-control" ng-model="procesoNuevo.actividades[$index].idResponsable" number-converter>
                                      <option value="">Seleccione</option>
                                      <option ng-repeat="value in response.responsables" value="{[{value.id}]}">{[{value.nombre}]} </option>
                                  </select>
                              </div>
                              <div class="col-xs-4">
                                <label>Actividad Siguiente:</label>
                                <select class="form-control"ng-model="procesoNuevo.actividades[$index].idActSig" number-converter>
                                  <option value="">Seleccione</option>
                                  <option ng-repeat=" (key2, value) in procesoNuevo.actividades" value="{[{key2}]}">Actividad {[{key2+1}]}</option>
                                </select>
                                <br>
                                <label>Actividad Anterior:</label>
                                <select class="form-control"ng-model="procesoNuevo.actividades[$index].idActAnt" number-converter>
                                  <option value="">Seleccione</option>
                                  <option ng-repeat=" (key2, value) in procesoNuevo.actividades" value="{[{key2}]}">Actividad {[{key2+1}]}</option>
                                </select>
                              </div>
                              <div class="col-xs-4">
                                <label>Tiempo:</label>
                                <select class="form-control" ng-model="procesoNuevo.actividades[$index].tiempo">
                                  <option value="">Seleccione</option>
                                  <option value="24 horas">24 horas</option>
                                  <option value="48 horas">48 horas</option>
                                  <option value="72 horas">72 horas</option>
                                  <option value="96 horas">96 horas</option>
                                </select>
                                <br>
                                 <label>Descripcion:</label>
                                 <textarea class="form-control"  ng-model="procesoNuevo.actividades[key1].descripcion"></textarea>
                              </div> 
                        </div>
                        <br>
                        <hr>
                    </div>
                    <div class="row">
                      <div ng-repeat=" (tarea, valor) in procesoNuevo.actividades[key1].tareas track by $index"  >
                        <div class="col-xs-6">
                          <div class="portlet" style="margin-left: 3%;margin-right: 3%;">
                            <div class="portlet-header">
                              <h3 style="color: #428BCA;font-weight: bold;">Tarea {[{$index+1}]}</h3>
                              <i class="fa fa-times" style="  margin-left: 81%;position: absolute;cursor: pointer;"ng-click="delete(key1,tarea)"></i>
                            </div>
                            <div class="portlet-content">
                              <div class="col-xs-12">
                                  <label>Nombre:</label>
                                    <input class="form-control" type="text" ng-model="procesoNuevo.actividades[key1].tareas[tarea].nombre">
                                    <br>
                                    <label>Tipo de tarea:</label>
                                    <select class="form-control" ng-model="procesoNuevo.actividades[key1].tareas[tarea].tipo"  number-converter {#ng-model="procesoNuevo.actividades[$index].tareas[index2].Tipo"#}>
                                    <option value="">Seleccione</option>
                                      <option ng-repeat="value in response.tareas" value="{[{value.id}]}">{[{value.nombre}]} </option>
                                    </select>
                                    <br>
                                    <label>Descripcion:</label>
                                    <textarea class="form-control" ng-model="procesoNuevo.actividades[key1].tareas[tarea].descripcion"></textarea>
                              </div>   
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div align="center">
                      <button type="button" class="btn btn-secondary" ng-click="addTarea();">Agregar Tarea</button>
                    </div>
                    <br>
                </div>
              <br>
              <hr>
              </div>
              <button type="button" class="btn btn-secondary" ng-click="add();">Agregar Actividad</button>
              <button type="button" class="btn btn-secondary" ng-click="addProcess(response.id);">Enviar</button>
          </div>
          <!-- <div class="col-xs-3"></div> -->
        </div>
      </div>
   <!--  </div> --> <!-- /.content-container -->
      
  </div> <!-- /.content -->
</div> <!-- /.container -->

{% endblock %}
{% block javascripts %}
    {{ parent() }}
     <script type="text/javascript">
          var response = "{{ process }}";
          var div = document.createElement('div');
          div.innerHTML = response;
          response = div.firstChild.nodeValue;
          response = JSON.parse(response);
          console.log("response",response);
    </script>
 
   <script src="{{ asset('bundles/proceso/js/angular/editProcess/editProcessModule.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular/editProcess/editProcessController.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular-repeat-n.js') }}"></script>
      <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% endblock %}