{% extends "ProcesoBundle:All:Especialista/layout.html.twig" %}

{% block body %}

<div class="container" class="container" ng-app="editProcessModule" ng-controller="editProcessController">

  <main class="content" id="inicio">

    <div class="content-container">
    <uib-alert dismiss-on-timeout="4000" ng-repeat="alert in alerts" type="{[{alert.type}]}" close="closeAlert($index)"><strong>{[{alert.msg}]}</strong></uib-alert>
    <form name="nuevoProceso" novalidate>
      <div class="content-header">
        <h2 class="content-header-title">Agregar nuevo proceso</h2>
      </div> <!-- /.content-header -->
      <div class="row">
        <div class="col-xs-6"> 
          <label>Nombre del proceso:</label>
          <input type="text" class="form-control" ng-model="procesoNuevo.nombre" required="required" name="nombreProceso"
          ng-class="{'form-control-error':(nuevoProceso.nombreProceso.$invalid 
          && nuevoProceso.$submitted)}">
          <span 
          class="error" 
          ng-show="nuevoProceso.nombreProceso.$invalid 
          && nuevoProceso.$submitted">
          Este campo es requerido
          </span>
        </div>
        <div class="col-xs-6"> 
          <label>Descripcion:</label>
          <textarea class="form-control" style="height: 82px;"  ng-model="procesoNuevo.descripcion" required="required" name="descripcionProceso"ng-class="{'form-control-error':(nuevoProceso.descripcionProceso.$invalid 
          && nuevoProceso.$submitted)}"></textarea>
          <span 
          class="error" 
          ng-show="nuevoProceso.descripcionProceso.$invalid 
          && nuevoProceso.$submitted">
          Este campo es requerido
          </span>
          <br>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-xs-2"></div>   -->
        <div class="col-xs-12">
           <div ng-repeat=" (key1, value) in procesoNuevo.actividades">
              <div class="portlet">
                  <div class="portlet-header">
                    <h3 style="color: #428BCA;font-weight: bold;">Actividad {[{$index+1}]}</h3>
                    <i class="fa fa-times" style="  margin-left: 88%;position: absolute;  cursor: pointer;" ng-click="delete(key1)"></i>
                  </div>
                  <div class="portlet-content">
                    <div class="row">
                            <div class="col-xs-4">
                               <label>Nombre de la actividad:</label>
                               <input type="text" class="form-control" ng-model="procesoNuevo.actividades[$index].nombre" required="required" name="nombreActividad{[{$index}]}" ng-class="{'form-control-error':(nuevoProceso.nombreActividad{[{$index}]}.$invalid 
                                && nuevoProceso.$submitted)}">
                               <span 
                               class="error" 
                               ng-show="nuevoProceso.nombreActividad{[{$index}]}.$invalid 
                               && nuevoProceso.$submitted">
                               Este campo es requerido
                              </span>
                            </div>
                            <div class="col-xs-4">
                              <label>Responsable:</label>
                                <select class="form-control" ng-model="procesoNuevo.actividades[$index].idResponsable" required="required" name="responsableActividad{[{$index}]}" ng-class="{'form-control-error':(nuevoProceso.responsableActividad{[{$index}]}.$invalid 
                                && nuevoProceso.$submitted)}" number-converter>
                                    <option value="">Seleccione</option>
                                    <option ng-repeat="value in response.responsables" value="{[{value.id}]}">{[{value.nombre}]} </option>
                                </select>
                                <span 
                                 class="error" 
                                 ng-show="nuevoProceso.responsableActividad{[{$index}]}.$invalid 
                                 && nuevoProceso.$submitted">
                                 Este campo es requerido
                                </span>
                            </div>
                            <div class="col-xs-4">
                              <label>Tiempo:</label>
                              <input type="number" min="0" placeholder="Numero de días" required="required" class="form-control" ng-model="procesoNuevo.actividades[$index].tiempo" name="tiempoActividad{[{$index}]}" ng-class="{'form-control-error':(nuevoProceso.tiempoActividad{[{$index}]}.$invalid 
                                && nuevoProceso.$submitted)}">
                              <span 
                               class="error" 
                               ng-show="nuevoProceso.tiempoActividad{[{$index}]}.$invalid 
                               && nuevoProceso.$submitted">
                               Este campo es requerido
                              </span>  
                            </div> 
                    </div>
                  <div class="portlet-content">
                    <div class="row">
                      <div class="col-xs-16">
                        <label>Descripcion:</label>
                        <textarea style="height: 90px;" class="form-control"  ng-model="procesoNuevo.actividades[key1].descripcion" name="descripcionActividad{[{$index}]}" ng-class="{'form-control-error':(nuevoProceso.descripcionActividad{[{$index}]}.$invalid 
                                && nuevoProceso.$submitted)}" required="required"></textarea>
                        <span 
                         class="error" 
                         ng-show="nuevoProceso.descripcionActividad{[{$index}]}.$invalid 
                         && nuevoProceso.$submitted">
                         Este campo es requerido
                        </span>
                      </div>
                    </div>
                    <hr>
                  </div>
                  </div>
                  <div class="row">
                    <div ng-repeat=" (tarea, valor) in procesoNuevo.actividades[key1].tareas track by $index"  >
                      <div class="col-xs-6">
                        <div class="portlet" style="margin-left: 3%;margin-right: 3%;">
                          <div class="portlet-header">
                            <h3 style="color: #428BCA;font-weight: bold;">Tarea {[{$index+1}]}</h3>
                            <i class="fa fa-times" style="  margin-left: 81%;position: absolute;cursor: pointer;"ng-click="delete(key1,tarea)"></i>
                          </div>
                          <div class="portlet-content">
                            <div class="col-xs-12">
                                <label>Nombre:</label>
                                  <input class="form-control" type="text" ng-model="procesoNuevo.actividades[key1].tareas[tarea].nombre" required="required" name="nombreTarea{[{$index}]}{[{key1}]}" ng-class="{'form-control-error':(nuevoProceso.nombreTarea{[{$index}]}{[{key1}]}.$invalid 
                                && nuevoProceso.$submitted)}">
                                  <span 
                                  class="error" 
                                  ng-show="nuevoProceso.nombreTarea{[{$index}]}{[{key1}]}.$invalid 
                                  && nuevoProceso.$submitted">
                                  Este campo es requerido
                                  </span>
                                  <br>
                                  <label>Tipo de tarea:</label>
                                  <select class="form-control" ng-model="procesoNuevo.actividades[key1].tareas[tarea].tipo"  {#ng-model="procesoNuevo.actividades[$index].tareas[index2].Tipo"#} required="required" name="tipoTarea{[{$index}]}{[{key1}]}" ng-class="{'form-control-error':(nuevoProceso.tipoTarea{[{$index}]}{[{key1}]}.$invalid 
                                && nuevoProceso.$submitted)}" number-converter>
                                  <option value="">Seleccione</option>
                                    <option ng-repeat="value in response.tareas" value="{[{value.id}]}">{[{value.nombre}]} </option>
                                  </select>
                                  <span 
                                  class="error" 
                                  ng-show="nuevoProceso.tipoTarea{[{$index}]}{[{key1}]}.$invalid 
                                  && nuevoProceso.$submitted">
                                  Este campo es requerido
                                  </span>
                                  <br>
                                  <label>Descripcion:</label>
                                  <textarea class="form-control" ng-model="procesoNuevo.actividades[key1].tareas[tarea].descripcion" required="required" name="descripcionTarea{[{$index}]}{[{key1}]}" ng-class="{'form-control-error':(nuevoProceso.descripcionTarea{[{$index}]}{[{key1}]}.$invalid 
                                && nuevoProceso.$submitted)}"></textarea>
                                  <span 
                                    class="error" 
                                    ng-show="nuevoProceso.descripcionTarea{[{$index}]}{[{key1}]}.$invalid 
                                    && nuevoProceso.$submitted">
                                    Este campo es requerido
                                  </span>
                            </div>   
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div align="center">
                    <button type="button" class="btn btn-secondary" ng-click="addTarea();"><i class="fa fa-plus-square" aria-hidden="true"></i> Agregar Tarea</button>
                  </div>
                  <br>
              </div>
            </div>
            <div align="center">
              <button type="button" class="btn btn-secondary" ng-click="add();"><i class="fa fa-plus-square" aria-hidden="true"></i> Agregar Actividad</button>
            </div>
            <hr>
            <div ng-if="procesoNuevo.actividades.length>0" align="right">
              <button type="submit" class="btn btn-secondary" ng-click="validacionProceso(); addProcess(response.id);"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar proceso</button>   
            </div>
        </div>
        <!-- <div class="col-xs-3"></div> -->
      </div>
    </form>
    </div>
   <!--  </div> --> <!-- /.content-container -->
      
  </main> <!-- /.content -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
     <script type="text/javascript">
          var response = "{{ process }}";
          var div = document.createElement('div');
          div.innerHTML = response;
          response = div.firstChild.nodeValue;
          response = JSON.parse(response);
          console.log("response",response);
    </script>
 
   <script src="{{ asset('bundles/proceso/js/angular/editProcess/editProcessModule.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular/editProcess/editProcessController.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular-repeat-n.js') }}"></script>
      <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

{% endblock %}