{% extends "ProcesoBundle:All:Especialista/layout.html.twig" %}

{% block body %}

<div class="container" ng-app="processActModule" ng-controller="processActController">
  <div class="content">

    <div class="content-container">
      <div class="content-header">
        <h2 class="content-header-title">Procesos activos</h2> <estiquta ng-click="showModalConfirm()"></estiquta>
      </div> <!-- /.content-header -->
      <uib-alert dismiss-on-timeout="5000" ng-repeat="alert in alerts" type="{[{alert.type}]}" close="closeAlert($index)"><strong>{[{alert.msg}]}</strong></uib-alert>
      <div ng-if="response.length>0" class="row">
          <div class="col-sm-12">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Listado de Procesos Activos</div>

                <!-- Table -->
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Catidad de Actividades</th>
                      <th>Editar</th>
                      <th>Desactivar</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="value in response">
                    <tr>
                      <td>{[{value.id}]}</td>
                      <td>{[{value.nombre}]}</td>
                      <td>{[{value.numActividades}]}</td>
                      <td> <button ng-click="edit(value.id)" type="button" class="btn btn-info">Editar</button></td>
                      <td> <button ng-click="desactivar(value.id, $index)" type="button" class="btn btn-primary">Desactivar</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
      </div>
      <div ng-if="response.length==0" class="alert alert-warning " role="alert">
        <strong>No hay ningun proceso activo en este momento</strong>
      </div>
    </div> <!-- /.content-container -->
      
  </div> <!-- /.content -->
</div> <!-- /.container -->
{{ include("ProcesoBundle:All:Especialista/modales/modalConfirm.html.twig") }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
          var response = "{{ processActive }}";
          var div = document.createElement('div');
          div.innerHTML = response;
          response = div.firstChild.nodeValue;
          response = JSON.parse(response);
          console.log("response",response);
    </script>
   <script src="{{ asset('bundles/proceso/js/angular/processAct/processActModule.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular/processAct/processActController.js') }}"></script>
   <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
   <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}">
   </script>
   <script src="{{ asset('bundles/proceso/js/angular-strap.js') }}"></script>
   <script src="{{ asset('bundles/proceso/js/angular-strap.tpl.js')}}"></script>

{% endblock %}